<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
    <param name="footprint_padding" value="0.01" />
    <param name="controller_frequency" value="10.0" />
    <param name="controller_patience" value="5.0" />
    <param name="oscillation_timeout" value="8.0" />
    <param name="oscillation_distance" value="0.5" />
    <param name="recovery_behavior_enabled" value="true" type="bool" />
    <param name="clearing_rotation_allowed" value="true" type="bool" />
    <param name="shutdown_costmaps" value="false" type="bool" />

    <rosparam file="$(find thymio_navigation_driver)/launch/nav/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find thymio_navigation_driver)/launch/nav/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find thymio_navigation_driver)/launch/nav/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find thymio_navigation_driver)/launch/nav/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find thymio_navigation_driver)/launch/nav/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find thymio_navigation_driver)/launch/nav/recovery_behaviors.yaml" command="load" />
  </node>
</launch>
