<launch>
  <node pkg="tf" type="static_transform_publisher" name="laser_to_base" 
    args="0 0 0.12 0 0 0 base_link laser 50" />
  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo" output="screen" />
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <rosparam>
    maxUrange: 3.5
    maxRange: 8
    lstep: 0.01
    iterations: 5
    xmin: -2
    ymin: -2
    xmax: 2
    ymax: 2
    srr: 0.4
    stt: 0.15
    str: 0.4
    str: 0.2
    delta: 0.01
    linearUpdate: 0.1
    angularUpdate: 0.2
    temporalUpdate: -1.
    map_update_interval: 2.
    </rosparam>
  </node>
</launch>